<footer id="hexCodes">
    <p id="colorOne"></p>
    <p id="colorTwo"></p>
    <p id="colorThree"></p>
    <p id="colorFour"></p>
    <p id="colorFive"></p>
</footer>

<style>
    footer {
        display: none;
    }

    @media (width >= 500px) {
        footer {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        
        background-color: #1F2937; 
        box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.15);
        color: whitesmoke;
        
        display: flex;
        justify-content: space-around;
    }
    }
</style>